@import "./theme";
@import "./variables";
@import "./mixins";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  overscroll-behavior-y: contain;
}

select {
  cursor: pointer;
}

.modal-titlebar {
  z-index: $zindex-common-titlebar-modal;

  & .modal-dialog {
    max-width: 520px;
  }
}
